.App {
  text-align: center;
}

input[type=radio] {
  margin: 10px 8px 10px 50px;
}

.cardSection {
  display: flex;
  margin: 10px 25px;
}

.playerCard {
  background-color: lavenderblush;
  border-radius: 10px;
  margin: 10px 30px;
}
